@font-face {
    font-family: "bcCard";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/bcCard/bcCard-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/bcCard/bcCard-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/bcCard/bcCard-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/bcCard/bcCard-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/bcCard/bcCard-Light.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "bcCard";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/bcCard/bcCard-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/bcCard/bcCard-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/bcCard/bcCard-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/bcCard/bcCard-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/bcCard/bcCard-Bold.ttf") format("truetype");
    font-display: swap;
} 
.bcCard {
    font-family: "bcCard";
}
.bcCard300 {
    font-family: "bcCard";
    font-weight: 300;
}
.bcCard700 {
    font-family: "bcCard";
    font-weight: 700;
}